body{
    font-family: 'Roboto Slab', serif;

    
}

.one{
    background-color: orange;
    color: white;
    font-weight: bold;
    font-size: 17px;
    text-align: center;
    height: 30px;
}

.two p{
    border-bottom: 1px solid white;
}

.Test{
    font-size: large;
    
}

.navbar{
    font-size: larger;
    padding-inline: 10px;
    
}
.mel{
    text-align: center;
    background-color: orange;
    color: aliceblue;
    height: 25px;
    font-size: larger;
}
.background{
    background-image: url('Free-autumn-border-design-vector-1.webp');
    background-repeat: no-repeat;
	background-size: cover;
    width: 100%;
    background-color: bisque;
}
.Testimonials{
    text-align: center;
    color: orange;
    font-size: larger;
}
.Clients{
    text-align: center;
    
}
button{
    border-color: orange;
    background-color: white;
    
}
.last{
    text-align: end;
}
.strt{
    text-align: start;
}
.arrow{
    color: black;
}
